Repository cvmfs/cvmfs, pull requests merged in 2023-10, with the labels that each got.

#3408 Limit initscripts dependency to rhel <=7
  packaging/rpm/cvmfs-universal.spec
Labels: in:Packaging

#3411 containerd snapshotter: Fix to avoid mounting twice the same layer
  snapshotter/cvmfs/cvmfs.go
Labels: in:Container Tools

#3422 Make sure release of rpm subpackages match in addition to version
  packaging/rpm/cvmfs-universal.spec
Labels: bug, in:Packaging

#3430 Fix mount helper race condition causing spurious directories
  mount/mount.cvmfs.cc
Labels: in:Client
