Repository cvmfs/cvmfs, pull requests merged in 2024-11, with the labels that each got.

#3683 Add metalink support
  cvmfs/mountpoint.cc
  cvmfs/network/download.cc
  cvmfs/network/download.h
  cvmfs/network/jobinfo.cc
  cvmfs/network/jobinfo.h
  cvmfs/talk.cc
  cvmfs/talk.h
  packaging/rpm/cvmfs-universal.spec
  test/cloud_testing/platforms/centos7_x86_64_s3_test.sh
  test/cloud_testing/platforms/centos7_x86_64_test.sh
  test/cloud_testing/platforms/ubuntu_s3_test.sh
  test/common/mock_services/metalink_server.py
  test/src/691-metalink/main
  test/test_functions
Labels: in:Server, new feature

#3693 mkfs: do not overwrite existing manifest in s3 bucket
  cvmfs/server/cvmfs_server_common.sh
  cvmfs/server/cvmfs_server_mkfs.sh
Labels: in:Server

#3704 tracefile: log NOTFOUND when lookup unsuccessful
  cvmfs/cvmfs.cc
Labels: in:Client

#3695 ingest: allow absolute paths for base_dir and to_delete
  cvmfs/server/cvmfs_server_common.sh
  cvmfs/server/cvmfs_server_ingest.sh
  test/src/652-tarball_ingest_various_paths/main
Labels: in:Server

#3538 Improvements to the commit processor
  cvmfs/receiver/catalog_merge_tool.h
  cvmfs/receiver/catalog_merge_tool_impl.h
  cvmfs/receiver/commit_processor.cc
  cvmfs/server_tool.cc
  cvmfs/server_tool.h
  cvmfs/signing_tool.cc
  cvmfs/swissknife_check.cc
  cvmfs/swissknife_filestats.cc
  cvmfs/swissknife_gc.cc
  cvmfs/swissknife_history.cc
  cvmfs/swissknife_ingest.cc
  cvmfs/swissknife_letter.cc
  cvmfs/swissknife_list_reflog.cc
  cvmfs/swissknife_lsrepo.cc
  cvmfs/swissknife_migrate.cc
  cvmfs/swissknife_pull.cc
  cvmfs/swissknife_reflog.cc
  cvmfs/swissknife_sync.cc
  test/unittests/t_catalog_merge_tool.cc
Labels: in:Gateway
