Repository cvmfs/cvmfs, pull requests merged in 2025-03, with the labels that each got.

#3775 [rpm] Add tar dependency to cvmfs-server
  packaging/debian/cvmfs/control
  packaging/rpm/cvmfs-universal.spec
Labels: in:Packaging

#3715 Add packaging for snapshotter
  packaging/debian/cvmfs/control
  packaging/debian/cvmfs/cvmfs-snapshotter.install
  packaging/debian/cvmfs/cvmfs-snapshotter.postinst
  packaging/debian/cvmfs/cvmfs-snapshotter.postrm
  packaging/debian/cvmfs/cvmfs-snapshotter.preinst
  packaging/debian/cvmfs/rules
  packaging/rpm/cvmfs-universal.spec
  snapshotter/CMakeLists.txt
  snapshotter/main.go
  snapshotter/script/config/etc/systemd/system/cvmfs-snapshotter.service
Labels: in:Packaging

#3565 [gw] Early recursion return when adding nested catalogs
  cvmfs/catalog_diff_tool.h
  cvmfs/catalog_diff_tool_impl.h
  cvmfs/catalog_mgr_rw.cc
  cvmfs/catalog_mgr_rw.h
  cvmfs/publish/repository_diff.cc
  cvmfs/receiver/catalog_merge_tool.h
  cvmfs/receiver/catalog_merge_tool_impl.h
  cvmfs/receiver/receiver.cc
  gateway/internal/gateway/receiver/receiver.go
  test/src/819-gateway-quick-merge/main
  test/test_functions
  test/unittests/t_catalog_mgr_rw.cc
Labels: in:Gateway

#3783 wipecache: make sleep only required for mac
  cvmfs/cvmfs_config
Labels: bug

#3790 [rpm] fix permissions for cvmfs_ducc
  packaging/rpm/cvmfs-universal.spec
Labels: in:Container Tools, in:Packaging

#3791 Install apparmor profile for fusermount3/cvmfs
  cvmfs/CMakeLists.txt
  cvmfs/pkg/apparmor.local.fusermount3
  packaging/debian/cvmfs/conffiles
  packaging/debian/cvmfs/cvmfs.install.in
  packaging/debian/cvmfs/cvmfs.postinst
  packaging/rpm/cvmfs-universal.spec
Labels: bug, in:Packaging
